In [1]:
import pandas as pd
# from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

C:\Users\rohan\BWSI\Python\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.25.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("car data.csv")
df.head

<bound method NDFrame.head of     Car_Name  Year  Selling_Price  Present_Price  Driven_kms Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Selling_type Transmission  Owner
0         Dealer       Manual      0
1         Dealer       Manual      0
2         Dealer       Manual      0
3         Dealer       Manual      0
4         Dealer       Manual      0
..           ...          ...    ...
296       Dealer       Manual      0
297       Dealer       Manual      0
298       Dealer       Manual      0
299       Dealer       Manual      0
300       Dealer       Manual      0

[301 rows x 9 columns]>

In [3]:
# df = df.drop("Car_Name", axis=1)
df.Fuel_Type.unique()
df.Selling_type.unique()
df.Transmission.unique()

array(['Manual', 'Automatic'], dtype=object)

In [4]:
df["Fuel_Type"] = df["Fuel_Type"].replace("Petrol", 0)
df["Fuel_Type"] = df["Fuel_Type"].replace("Diesel", 1)
df["Fuel_Type"] = df["Fuel_Type"].replace("CNG", 2)

df["Selling_type"] = df["Selling_type"].replace("Dealer", 0)
df["Selling_type"] = df["Selling_type"].replace("Individual", 1)

df["Transmission"] = df["Transmission"].replace("Manual", 0)
df["Transmission"] = df["Transmission"].replace("Automatic", 1)

df = df.drop("Car_Name", axis=1)

df

,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,2014,3.35,5.59,27000,0,0,0,0
1,2013,4.75,9.54,43000,1,0,0,0
2,2017,7.25,9.85,6900,0,0,0,0
3,2011,2.85,4.15,5200,0,0,0,0
4,2014,4.60,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,1,0,0,0
297,2015,4.00,5.90,60000,0,0,0,0
298,2009,3.35,11.00,87934,0,0,0,0
299,2017,11.50,12.50,9000,1,0,0,0
300,2016,5.30,5.90,5464,0,0,0,0

In [5]:
X = df.drop("Selling_Price", axis=1)
y = df["Selling_Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

baseline_prediction = [y_train.mean()] * len(y_test)
baseline_mae = mean_absolute_error(y_test, baseline_prediction)
print("bme: ", baseline_mae)

mean_absolute_error(predictions, y_test)

bme:  3.745930327868852

1.2719270677502612